{% extends 'base.html.twig' %}

{% block title %}Edit Page{% endblock %}

{% block body %}

<div id="show_header">
    <h1>Editar {{ page.Name }}</h1>

</div>
<div id="page_body_form">
    <div id="page_form">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn save page">{{ ux_icon('bi:save') }} {{ button_label|default('Guardar cambios') }}</button>
        {{ form_end(form) }}
    </div>

    <div>
        <img src="{{ asset('uploads/pages/' ~ page.Name ~ '/' ~ page.Image) }}"
            id="imagePreview">
    </div>
</div>

</div>
<script>
    document.getElementById('page_Image').addEventListener('change', function (event) {
        const file = event.target.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
                const imagePreview = document.getElementById('imagePreview');
                imagePreview.src = e.target.result;
                imagePreview.style.display = 'block';
            }
            reader.readAsDataURL(file);
        }
    });
</script>

{% endblock %}