{% extends 'base.html.twig' %}

{% block title %}Page{% endblock %}

{% block body %}
<div id="show_header">
    <h1>{{ page.Name }}</h1>
    <a href="{{ path('app_page_edit', {'id': page.id}) }}" class="btn edit">{{ ux_icon('bi:pencil') }} <span class="PC">Editar</span></a>
</div>

{% if page.id == "1" or page.id == "4" %}
    <div id="page_home" class="page_body">
        <div style="background-image: url('{{ asset('uploads/pages/' ~ page.Name ~ '/' ~ page.Image) }}');" 
            id="home_img" class="page_img"></div>
        <p>{{ page.Subtitle }}</p>
    </div>
{% endif %}

{% if page.id == "2" %}
    <div id="page_contact" class="page_body">
        <div class="page_inf">
                <h3>{{ page.title }}</h3>
                <p>{{ page.Subtitle }}</p>
        </div>
        <div style="background-image: url('{{ asset('uploads/pages/' ~ page.Name ~ '/' ~ page.Image) }}');"
            id="contact_img" class="page_img"></div>
    </div>
{% endif %}

{% if page.id == "3" %}
<div id="page_about" class="page_body">
 <div class="page_inf">
        <h3>{{ page.title }}</h3>
        <pre>{{ page.Subtitle }}</pre>
    </div>
  <div style="background-image: url('{{ asset('uploads/pages/' ~ page.Name ~ '/' ~ page.Image) }}');" id="about_img"></div>
   
</div>
{% endif %}
<br>




{% endblock %}