{% extends 'base.html.twig' %}

{% block title %}Edit Piece{% endblock %}

{% block body %}
<p>
    <a href="{{ path('app_work_index') }}">Proyectos</a>
    &#60 <a href="{{ path('app_work_show', {'id': artwork.work.id}) }}">{{ artwork.work.Title }}</a>
    &#60 <a href="{{ path('app_artwork_show', {'id': artwork.id}) }}">{{ artwork.Title }}</a>
    &#60 <a href="{{ path('app_artwork_show', {'id': artwork.id}) }}">{{ piece.Title }}</a>
    &#60 Editar
</p>

<div id="show_header">
    <h1>Editar obra: {{ piece.Title }}</h1>
    <a href="{{ path('app_artwork_show', {'id': artwork.id}) }}">Salir</a>
</div>

<div id="body_form">
    <div>
        {{ form_start(form, { 'attr': { 'id': 'form' } }) }}
        {{ form_row(form.Title) }}
        {{ form_row(form.Width) }}
        {{ form_row(form.Height) }}
        {{ form_row(form.Depth) }}
        {{ form_row(form.Images) }}

        <!-- Aquí se muestran los materiales seleccionados y el botón para abrir el modal -->
        <div id="materials_body">
            <label for="selected_materials">Materiales</label>
            <input type="text"  id="SMstr" value="{{ SMstr }}" disabled>

            <!-- Botón para abrir el modal -->
            <button type="button" class="btn primary" data-bs-toggle="modal" data-bs-target="#pieceModal">Seleccionar materiales</button>
        </div>
        <button type="submit" class="btn btn-success">{{ ux_icon('bi:save') }} Guardar</button>
        {{ form_end(form) }}
    </div>

    <div id="imageContainer">
        {% if piece.Images is not empty %}
        {% for image in piece.Images %}
        <div>
        <img src="{{ asset('uploads/works/' ~ artwork.work.id ~ '/' ~ artwork.id ~'/'~ piece.id ~'/'~ image) }}" id="imagePreview">
        <button>Eliminar</button>
    </div>
        {% endfor %}
        {% endif %}
    </div>
</div>

<!-- Modal para el formulario de app_piece_new -->
<div class="modal fade" id="pieceModal" tabindex="-1" aria-labelledby="pieceModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="pieceModalLabel">Materiales</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="modal-body-left">
                    {% for material in materials %}
                    <div class="material-checkbox-div" id="existingM">
                        <input type="checkbox" id="{{material.Name}}" class="material-checkbox {% if material in piece.Materials %} checked {% endif %}" {% if material in piece.Materials %} checked {% endif %}>
                        <label for="{{material.Name}}">{{ material.Name }}</label>
                    </div>
                    {% endfor %}
                    <div id="temporalM"></div>
                </div>

                <div class="modal-add-material">
                    <p class="add-material-p">Añadir nuevo material</p>
                    <div>
                        <input type="text" id="add-material-text" placeholder="Ej: Óleo">
                        <button type="button" id="add-material-btn" class="btn primary" onclick="addM()">Añadir material</button>
                    </div>
                    <p class="error" id="material-error"></p>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn ok" data-bs-dismiss="modal" onclick="saveMaterials()">Aceptar</button>
            </div>
        </div>
    </div>
</div>



<script src="{{ asset('js/editpiece.js') }}"></script>
<script>
    // document.getElementById('piece_Images').addEventListener('change', function (event) {
    //     const files = event.target.files;
    //     const imageContainer = document.getElementById('imageContainer');

    //     if (files) {
    //         for (let i = 0; i < files.length; i++) {
    //             const file = files[i];
    //             if (file.type.match('image.*')) {
    //                 const reader = new FileReader();
    //                 reader.onload = function (e) {
    //                     const imageElement = document.createElement('img');
    //                     imageElement.src = e.target.result;
    //                     imageElement.className = 'imagePreview';
    //                     imageElement.style.maxHeight = '200px';
    //                     // imageContainer.appendChild(imageElement);
    //                 };
    //                 reader.readAsDataURL(file);
    //             }
    //         }
    //     }
    // });
</script>
{% endblock %}