{% extends 'base.html.twig' %}

{% block title %}Piece{% endblock %}

{% block body %}
<p>
    <a href="{{ path('app_work_index') }}">Proyectos</a>
    &#60 <a href="{{ path('app_work_show', {'id': piece.Work.id}) }}">{{ piece.Work.Title }}</a>
    &#60 {{ piece.Title }}
</p>

<div id="show_header">
    <h1>Obra: {{ piece.Title }}</h1>
    <a href="{{ path('app_piece_edit', {'id': piece.id}) }}" class="btn edit page">Editar</a>
</div>
<div id="work_body_form">
    <div id="work_form">
        <table class="table">
            <tbody>
                <tr>
                    <th>Año</th>
                    <td>{{ piece.CreationDate ? piece.CreationDate|date('Y') : 'Desconocido' }}</td>
                </tr>
                <tr>
                    <th>Materiales</th>
                    <td>{{ piece.Materials }}</td>
                </tr>
                <tr>
                    <th>Ancho</th>
                    <td>{{ piece.Width }}</td>
                </tr>
                <tr>
                    <th>Alto</th>
                    <td>{{ piece.Height }}</td>
                </tr>
                <tr>
                    <th>Profundo</th>
                    <td>{{ piece.Depht }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="work_imageContainer">
        <div>
            {% if piece.Images is not empty %}
            {% for image in piece.Images %}
            <img src="{{ asset('uploads/works/' ~ piece.work.id ~'/'~ piece.id ~'/'~ image) }}" style="max-height: 200px;">
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
<div>
    {{ include('piece/_delete_form.html.twig') }}
</div>


{% endblock %}