<form method="post" action="{{ path('app_material_delete', {'id': material.id}) }}" onsubmit="return confirm('¿Borrar {{ material.Name }}? {{ material.Pieces.count }} piezas se verán afectadas');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ material.id) }}">
    <button class="btn del">{{ ux_icon('bi:trash') }}</button>
</form>
