{% extends 'base.html.twig' %}



{% block body %}
<div id="show_header">
    <h1>Materiales</h1>
    <a href="{{ path('app_materials_new') }}" class="btn new page"><i class="bi bi-folder-plus"></i> <span class="PC">Añadir material</span></a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Título</th>
            <th class="PC">Piezas</th>
            <th class="actions">Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for material in materials %}
        <tr>
            <td>{{ material.name }}</td>
            <td class="PC">{{ material.Pieces|length }}</td>
            <td class="actions">
                <a href="{{ path('app_materials_show', {'id': material.id}) }}" class="btn show"><i class="bi bi-eye"></i> <span class="PC">Ver más</span></a>
                <a href="{{ path('app_materials_edit', {'id': material.id}) }}" class="btn edit"><i class="bi bi-pencil"></i></a>
                {{ include('materials/_delete_form.html.twig') }}
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="6">No existen proyectos</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}