{% extends 'base.html.twig' %}

{% block title %}Edit Piece{% endblock %}

{% block body %}
<p>
    <a href="{{ path('app_work_index') }}">Proyectos</a>
    &#60 <a href="{{ path('app_work_show', {'id': piece.work.id}) }}">{{ piece.work.Title }}</a>
    &#60 <a href="{{ path('app_piece_show', {'id': piece.id}) }}">{{ piece.Title }}</a>
    &#60 Editar
</p>

<div id="show_header">
    <h1>Editar obra: {{ piece.Title }}</h1>
    <a href="{{ path('app_work_show', {'id': piece.work.id}) }}">Salir</a>
</div>

<div id="body_form">
    <div id="form">
        {{ include('work/_form.html.twig', {'button_label': 'Guardar cambios'}) }}
    </div>

    <div id="work_imageContainer">
        {% if piece.Images is not empty %}
        {% for image in piece.Images %}
        <div class="image-wrapper" data-image="{{ image }}">
            <img src="{{ asset('uploads/works/' ~ piece.work.id ~'/'~ piece.id ~'/'~ image) }}"style="max-height: 200px;" id="imagePreview">
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>

<script>
    document.getElementById('piece_Images').addEventListener('change', function (event) {
        const files = event.target.files;
        const imageContainer = document.getElementById('work_imageContainer');

        if (files) {
            for (let i = 0; i < files.length; i++) {
                const file = files[i];
                if (file.type.match('image.*')) {
                    const reader = new FileReader();
                    reader.onload = function (e) {
                        const imageElement = document.createElement('img');
                        imageElement.src = e.target.result;
                        imageElement.style.maxHeight = '200px';
                        imageContainer.appendChild(imageElement);
                    };
                    reader.readAsDataURL(file);
                }
            }
        }
    });
</script>
{% endblock %}