{% extends 'base.html.twig' %}

{% block body %}
<p>
    <a href="{{ path('app_work_index') }}">Proyectos</a>
    &#60 <a href="{{ path('app_work_show', {'id': work.id}) }}">{{ work.Title }}</a>
    &#60 Nueva obra
</p>

<div id="show_header">
    <h1>Añadir obra a {{ work.title }}</h1>
    <a href="{{ path('app_work_show', {'id': work.id}) }}">Salir</a>
</div>


<div id="body_form">
    <div>
         {{ form_start(form, { 'attr': { 'id': 'form' } }) }}
        {{ form_widget(form) }}
        <button class="btn save page">{{ ux_icon('bi:save') }} {{ button_label|default('Guardar cambios') }}</button>
        {{ form_end(form) }}
    </div>
</div>

{% endblock %}