{% extends 'base.html.twig' %}

{% block title %}Illustration index{% endblock %}

{% block body %}
<div id="show_header">
    <h1>Ilustraciones</h1>
    <a href="{{ path('app_illustration_new') }}" class="btn new page">Añadir Ilustración</a>
</div>

    <table class="table">
        <thead>
            <tr>
                <th>Título</th>
                <th>Colección</th>
                <th>Precio</th>
                <th>Stock</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for illustration in illustrations %}
            <tr>
                <td>{{ illustration.title }}</td>
                <td>{{ illustration.collection }}</td>
                <td>{{ illustration.price }}</td>
                <td>{{ illustration.stock }}</td>
                <td class="actions">
                    <a href="{{ path('app_illustration_show', {'id': illustration.id}) }}" class="btn show">Ver más</a>
                    <a href="{{ path('app_illustration_edit', {'id': illustration.id}) }}" class="btn edit">Editar</a>
                    {{ include('illustration/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">No existen ilustraciones</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

