{% extends 'base.html.twig' %}

{% block title %}Illustration{% endblock %}

{% block body %}

<div id="show_header">
    <h1>{{ illustration.title }}</h1>
    <a href="{{ path('app_illustration_edit', {'id': illustration.id}) }}" class="btn edit page">Editar</a>
</div>

<div id="illustration_container">
    <img src="{{ asset('uploads/shop/' ~ illustration.collection ~ '/' ~ illustration.id ~ '/' ~ illustration.image) }}" style="max-height: 500px;">
    <table id="illustration_table" class="table">
        <tbody>
            <tr>
                <th>Colección</th>
                <td>{{ illustration.collection }}</td>
            </tr>
            <tr>
                <th>Precio</th>
                <td>{{ illustration.price }}€</td>
            </tr>
            <tr>
                <th>Stock</th>
                <td>{{ illustration.stock }}</td>
            </tr>
        </tbody>
    </table>
</div>

<div id="delwork">
    <a href="{{ path('app_illustration_index') }}" class="btn back">Atrás</a>
    {{ include('illustration/_delete_form.html.twig') }}
</div>
{% endblock %}
