<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administración AESMA</title>
    <link href="{{ asset('styles.css') }}" rel="stylesheet"/>
    <link href="{{ asset('page.css') }}" rel="stylesheet"/>
    <link href="{{ asset('work.css') }}" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Outfit:wght@100..900&display=swap" rel="stylesheet">


</head>

<body>
    <div class="header">
        <h1><a href="http://localhost:4200/home" target="_blank">ANA ESTRADA MACÍAS</a></h1>
        {% if app.user %}
            <p>Bienvenido, {{ app.user.nick }}!     <a href="{{ path('app_logout')}}">[-></a></p>
        {% endif %}
    </div>

    <div class="body">
        <div class="sidebar">
            <a href="{{ path('app_page_show', {'id': 1}) }}">Inicio</a>
            <a href="{{ path('app_page_show', {'id': 2}) }}">Contacto</a>
            <a href="{{ path('app_page_show', {'id': 3}) }}">Sobre mí</a>
            <a href="{{ path('app_page_show', {'id': 4}) }}">Login</a>
            <br>
            <a href="{{ path('app_work_index') }}">Proyectos</a>
            <a href="{{ path('app_user_index') }}">Usuarios</a>
            <a href="{{ path('app_illustration_index') }}">Tienda</a>
        </div>

        <div class="content">
            {% block body %}{% endblock %}
        </div>
    </div>

</body>
</html>
