{% extends 'base.html.twig' %}

{% block title %}Orders index{% endblock %}

{% block body %}
<p>
    <a href="{{ path('app_order_index') }}">Pedidos</a>
    &#60 <a href="{{ path('app_order_show', {'id': order.id}) }}">Nº {{ order.id }}</a>
    &#60 Editar
</p>
<div id="show_header">
   <h1>Pedidos</h1>
</div>
<div id="body_form">
   {{ form_start(form, { 'attr': { 'id': 'form'} }) }}
   <div>
      <h4>Estado</h4>
      {{ form_widget(form.status) }}
   </div>

   <h4 class="overflorTitle">Dirección de envío</h4>
   <div class="overflowForm">
      {{ form_row(form.street) }}
      {{ form_row(form.details) }}
      {{ form_row(form.zipcode) }}
      {{ form_row(form.city) }}
      {{ form_row(form.province) }}
      {{ form_row(form.recipient) }}
      {{ form_row(form.phone) }}
   </div>

   <button class="btn save">{{ ux_icon('bi:save') }} {{ button_label|default('Guardar cambios') }}</button>
   {{ form_end(form) }}
</div>

{% endblock %}