{% extends 'base.html.twig' %}

{% block title %}Orders index{% endblock %}

{% block body %}
<div id="show_header">
    <h1>Pedidos</h1>
</div>
<table class="table">
    <thead>
        <tr>
            <th>ID pedido</th>
            <th class="PC">ID usuario</th>
            <th class="PC">Estado</th>
            <th class="PC">Precio total</th>
            <th class="actions">Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% if orders %}
        {% for order in orders %}
        <tr>
            <td>{{ order.id }}</td>
            <td class="PC">{{ order.User.id }}</td>
            <td class="PC">{{ order.Estado }}</td>
            <td class="PC">{{ order.totalAmount }} €</td>
            <td class="actions">
                <a href="{{ path('app_order_show', {'id': order.id}) }}" class="btn show"><i class="bi bi-eye"></i></a>
                <a href="{{ path('app_order_edit', {'id': order.id}) }}" class="btn edit"><i class="bi bi-pencil"></i></a>
            </td>
        </tr>

        {% endfor %}
        {% else %}
        <tr>
            <td colspan="10">No se ha encontrado ningún registro de pedido</td>
        </tr>
        {% endif %}
    </tbody>
</table>

{% endblock %}