{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
<div class="breadcrumbs">
    <p>
        <a href="{{ path('app_user_index') }}">Usuarios</a>
        &#60 <a href="{{ path('app_user_show', {'id': user.id}) }}">{{ user.Name }}</a>
        &#60 Editar
    </p>
</div>

<div id="show_header">
    <h1>Editar usuario</h1>
    {{ include('user/_delete_form.html.twig') }}
</div>

<div id="body_form">
    <div>
         {{ form_start(form, { 'attr': { 'id': 'form' } }) }}
        {{ form_widget(form) }}
        <button class="btn save page">{{ ux_icon('bi:save') }} {{ button_label|default('Guardar cambios') }}</button>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}