{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
<div class="breadcrumbs">
    <p>
        <a href="{{ path('app_user_index') }}">Usuarios</a>
        &#60 <a href="{{ path('app_user_show', {'id': user.id}) }}">{{ user.Name }}</a>
        &#60 Editar
    </p>
</div>

<div id="show_header">
    <h1>Editar usuario</h1>
    {{ include('user/_delete_form.html.twig') }}
</div>

<div>
    {{ form_start(form, { 'attr': { 'id': 'user_form' } }) }}
    <div>
        <div>
            <h3>Datos del usuario</h3>
            {{ form_row(form.name) }}
            {{ form_row(form.surname) }}
            {{ form_row(form.email) }}
            {{ form_row(form.nick) }}
            {{ form_row(form.phone) }}
            {{ form_row(form.roles) }}
            {{ form_row(form.password) }}
        </div>
        <div>
            <h3>Dirección de envio</h3>
            {{ form_row(form.address)}}
        </div>
     
    </div>
    <button class="btn save page"><i class="bi bi-save"></i> {{ button_label|default('Guardar cambios') }}</button>
    {{ form_end(form) }}
</div>
{% endblock %}