{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
<div id="show_header">
    <h1>Usuarios</h1>
</div>
    <table class="table">
        <thead>
            <tr>
                <th>Email</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Nick</th>
                <th>Teléfono</th>
                <th>Admin</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
        {% if user.email != 'aesmart@gmail.com' %}
        {% if user.email != app.user.email %}
            <tr>
                <td>{{ user.email }}</td>
                <td>{{ user.Name }}</td>
                <td>{{ user.Surname }}</td>
                <td>{{ user.Nick }}</td>
                <td>{{ user.Phone }}</td>
                <td>{{ 'ROLE_ADMIN' in user.roles ? 'SI' : 'NO' }}</td>
                <td class="actions">
                    <a href="{{ path('app_user_show', {'id': user.id}) }}" class="btn show">Ver detalles</a>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}" class="btn edit">Editar</a>
                    {{ include('user/_delete_form.html.twig') }}
                </td>
            </tr>
            {% endif %}
            {% endif %}
        {% else %}
            <tr>
                <td colspan="10">No se ha encontrado ningún registro de usuario</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
