{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
<div id="show_header">
    <h1>Usuarios</h1>
</div>
    <table class="table">
        <thead>
            <tr>
                <th>Email</th>
                <th class="PC">Nombre</th>
                <th class="PC">Teléfono</th>
                <th class="PC">Admin</th>
                <th class="actions">Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
        {% if user.email != 'aesmart@gmail.com' %}
        {% if user.email != app.user.email %}
            <tr>
                <td class="textwrap">{{ user.email }}</td>
                <td class="PC">{{ user.Name }}</td>
                <td class="PC">{{ user.Phone }}</td>
                <td class="PC">{{ 'ROLE_ADMIN' in user.roles ? 'SI' : 'NO' }}</td>
                <td class="actions">
                    <a href="{{ path('app_user_show', {'id': user.id}) }}" class="btn show">{{ ux_icon('bi:eye') }}</a>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}" class="btn edit">{{ ux_icon('bi:pencil') }}</a>
                    {{ include('user/_delete_form.html.twig') }}
                </td>
            </tr>
            {% endif %}
            {% endif %}
        {% else %}
            <tr>
                <td colspan="10">No se ha encontrado ningún registro de usuario</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
