{% extends 'base.html.twig' %}

{% block title %}Edit Work{% endblock %}

{% block body %}
<div class="breadcrumbs">
    <p>
        <a href="{{ path('app_work_index') }}">Proyectos</a>
        &#60 <a href="{{ path('app_work_show', {'id': work.id}) }}">{{ work.Title }}</a>
        &#60 Editar
    </p>
</div>

<div id="show_header">
    <h1>Editar proyecto: {{ work.title }}</h1>
    {{ include('work/_delete_form.html.twig') }}
</div>

<div id="body_form">
    <div>
        {{ form_start(form, { 'attr': { 'id': 'form' } }) }}
        {{ form_widget(form) }}
        <button class="btn save"><i class="bi bi-save"></i> {{ button_label|default('Guardar cambios') }}</button>
        {{ form_end(form) }}
    </div>

    <div id="imageContainer">
        <img src="{{ asset('uploads/works/' ~ work.id ~'/'~ work.image) }}" id="imagePreview">
    </div>
</div>

<!-- Cambia la imagen del formulario en tiempo real si se selecciona una nueva -->
<script>
    document.getElementById('work_Image').addEventListener('change', function (event) {
        const file = event.target.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
                const imagePreview = document.getElementById('imagePreview');
                imagePreview.src = e.target.result;
                imagePreview.style.display = 'block';
            }
            reader.readAsDataURL(file);
        }
    });
</script>

{% endblock %}