{% extends 'base.html.twig' %}

{% block title %}New Work{% endblock %}

{% block body %}
<p>
    <a href="{{ path('app_work_index') }}">Proyectos</a> &#60 Crear
</p>

<div id="show_header">
    <h1>Crear nuevo proyecto</h1>
    <a href="{{ path('app_work_index') }}">Salir</a>
</div>

<div id="body_form">
    <div>
         {{ form_start(form, { 'attr': { 'id': 'form' } }) }}
        {{ form_widget(form) }}
        <button class="btn save page"><i class="bi bi-save"></i> {{ button_label|default('Guardar cambios') }}</button>
        {{ form_end(form) }}
    </div>

    <div id="imageContainer"></div>
</div>
<br>
 
<script>
    document.getElementById('work_Image').addEventListener('change', function (event) {
        const file = event.target.files[0];
        const imageContainer = document.getElementById('imageContainer');

        if (file) {
            if (file.type.match('image.*')) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    const imageElement = document.createElement('img');
                    imageElement.src = e.target.result;
                    imageElement.id = 'imagePreview';
                    imageContainer.appendChild(imageElement);
                };
                reader.readAsDataURL(file);
            }
        }
    });


</script>

{% endblock %}