{% extends 'base.html.twig' %}

{% block title %}Work{% endblock %}

{% block body %}

<p><a href="{{ path('app_work_index') }}">Proyectos</a> &#60 {{ work.Title }}</p>
<div id="show_header">
    <h1>{{work.Title}}</h1>
    <a href="{{ path('app_work_edit', {'id': work.id}) }}" class="btn edit">{{ ux_icon('bi:pencil') }} <span class="PC">Editar proyecto</span></a>
</div>

<div id="work_body">
    <div style="background-image: url('{{ asset('uploads/works/' ~ work.id ~ '/' ~ work.Image) }}'); height: 200px;"
        id="work_img"></div>

    <table class="table">
        <tbody>
            <tr>
                <th>Declaración</th>
            </tr>
            <tr>
                <td class="t_nocolor">{{ work.Statement }}</td>
            </tr>
        </tbody>
    </table>
    <table class="table">
        <tbody>
            <tr>
                <th>Descripción</th>
            </tr>

            <tr>
                <td class="t_nocolor">{{ work.Description }}</td>
            </tr>
        </tbody>
    </table>

  <form method="post" action="{{ path('app_work_delete', {'id': work.id}) }}" onsubmit="return confirm('¿Seguro que desea borrar este proyecto? (Se borrarán también sus obras)');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ work.id) }}">
    <button class="btn del">{{ ux_icon('bi:trash') }} <span class="PC">Eliminar proyecto </span></button>
</form>

    
    <div id="piece_body">
        <div id="show_header">
            <h2>Obras</h2>
            <a href="{{ path('app_artwork_new', {'id': work.id}) }}" class="btn new page">{{ ux_icon('bi:folder-plus') }} <span class="PC">Añadir obra</span></a>
        </div>
        <table class="table">
        <thead>
                <tr>
                    <th>Título</th>
                    <th class="PC">Precio</th>
                    <th class="PC">Vendido</th>
                    <th class="actions">Acciones</th>
                </tr>
        </thead>

            <tbody>
                {% for artwork in work.artworks %}
                <tr>
                    <td>
                        {{ artwork.title ? artwork.title : 'Sin título' }}
                    </td>
                    <td class="PC">
                        {{ artwork.price ? artwork.price ~ '€' : '0.00€' }}
                    </td>
                    <td class="PC">
                        {{ artwork.sold ? 'Vendido' : 'A la venta' }}
                    </td>
                    <td class="actions">
                        <a href="{{ path('app_artwork_show', {'id': artwork.id}) }}" class="btn show">{{ ux_icon('bi:eye') }} </a>
                        <a href="{{ path('app_artwork_edit', {'id': artwork.id}) }}" class="btn edit">{{ ux_icon('bi:pencil') }}</a>
                        {{ include('artwork/_delete_form.html.twig') }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}